

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('../University Design/images/college-pic1.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 0.9375rem;
}

nav img{
    width: 9.375rem;
}

.navLinks{
    display: flex;
    text-align: right;
}

.navLinks ul li{
    display: inline-block;
    list-style: none;
    padding: 0.3125rem 0.625rem;
    position: relative;
}

.navLinks ul li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navLinks ul li::after{
    content: '';
    background: orangered;
    width: 0%;
    height: 0.125rem;
    display: block;
    margin:auto;
    transition: 0.5s;
}

.navLinks ul li:hover::after{
    width: 100%;
}

.mainText{
   width: 90%;
   color:white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.mainText h1{
    font-size: 2.8125rem;
}

.mainText p{
    margin: 0.625rem 0 2.5rem;
    color: white;
    font-size: 0.875rem;
}

.heroBtn{
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 0.0625rem solid white;
    padding: 0.625rem 1.25rem;
    background: transparent;
    cursor: pointer;
}

.heroBtn:hover{
    background: orangered;
    border: 0.0625rem solid orangered;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 780px){
    .mainText h1{
        font-size: 1.25rem;
    }

    .navLinks ul li{
        display: block;
    }
    
    .navLinks{
        position:absolute;
        top: 0;
        right: -200px;
        width: 12.5rem;
        height: 100vh;
        background: orangered;
        text-align: left;
        z-index: 2; 
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: white;
        margin: 0.625rem;
        cursor: pointer;
        font-size: 1.5rem;  
    }

    .navLinks ul{
        padding: 2.5rem;
    }
    
}

/* <!-- ---------------Vision------------------------ --> */

.vision{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 6.25rem;
    /* background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('/images/vision\ background.jfif');
    background-position: center;
    background-size: cover;
    position: relative;
    color: white; */
    background: rgb(71, 63, 63);
    color: white;

}

.vision h1{
    font-size: 3.0rem;
    font-weight: 600;
}

.vision p{
    font-size: 1.4rem ;
    font-weight: 300;
}

.vision h2{
    font-size: 2.5rem;
    font-weight: 500;
    padding-top: 3.5rem;
    padding-bottom: 2.8rem;
}

.whyMuj{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}

.whyMuj h3{
    padding-top: 20px;
    font-size: 1.5rem ;
}
 .whyMuj p{
     font-size: 18px;
     padding-bottom: 40px;
 }

 @media(max-width: 780px){
     .whyMuj{
         display: flex;
         flex-direction: column;
         font-size: 50%;
     }
     }


/* ---------------------------Courses-------------------------- */


.courses h1{
    font-size: 2.5rem;
    text-align: center;
    padding: 1.8rem 1rem;
}  

.container{
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 40px 0px;
}

.container div{
    background: rgb(172, 172, 172);
    border-radius: 8px;
    margin-bottom: 1rem;
}

.container h2{
   color: white;
   background: orangered;
   border-radius: 8px;
}

.container ul li{
    list-style: none;
    padding: 1rem 1rem;
}

.container ul li a{
    text-decoration: none;
    color: black;
}

.container ul li a:hover{
   color: orangered;
}

@media(max-width: 780px){
    .container{
        display: flex;
        flex-direction: column;
        font-size: 80%;
    }   
}

/* -------------------------------Campus------------------------------- */


.campus{
    text-align: center;
    margin: auto;
    padding-top: 4.5rem;
}

.campus h1{
  font-size: 2.4rem;
  padding-bottom: 2.5rem;
}

.ourcampus{
    display: flex;
    justify-content: space-between;

}

.imgCampus{
    flex-basis: 33%;
    position: relative;
    margin-bottom: 1.7rem;
    
}

.imgCampus img{
    width: 25rem;
    height: 38rem;
    border-radius: .7rem;
}

 .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}



.layer:hover{
    transform: translate(10, 10);
    cursor: pointer;
}

.layer h3{
    width: 80%;
    font-weight: 600;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
    background: orangered;
    border-radius: 1.5rem;
}

@media(max-width: 780px){
    .ourcampus{
        flex-direction: column;
    }

    .layer h3{
        width:56%
    }
}


/* --------------------------Recruiters---------------------------------- */


.recruiters{
    position: relative;
}
.recruiters h1{
    text-align: center;
    margin:auto;
    font-size: 2.4rem;
    margin: 2rem 0rem;
}

.imgRecr{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgRecr img{
    text-align: center;
    width: 50%;
    height: 600px;
}


/* ------------------testimonials------------- */

.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 6rem;
    text-align: center;

}

.testimonials h1{
    font-size: 2.5rem;
}


/* .testCol{
    flex-basis: 44%;
    border-radius: 0.625rem;
    margin-bottom: 5%;
    text-align: left;
    background: lightcoral;
    padding: 1.5rem;
    cursor: pointer;
    display: flex;
}

.testCol img{
    height: 2.2rem;
    margin-left: 0.312rem;
    margin-right: 1.8rem;
    border-radius: 50%;
} */

.row{
    display: flex;
    justify-content: space-between;

}


.testCol{
    display: flex;
    flex-basis: 30%;
    text-align: left;
    /* justify-content: space-between; */
    padding-top: 2rem;
    background: rgb(226, 202, 202);
    /* border: 2px solid blue; */
    /* width: 50%; */
    padding-bottom: 2rem;
    margin-top: 4.2rem;
    cursor: pointer;
    border-radius: 4%;
}


.testCol img{
    height: 6rem;
    width: 10rem;
    margin-right: 20px;
    margin-left: 10px;
    border-radius: 60%;
}


@media(max-width: 780px){
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


/* -------------------------------Student Corner-------------------------------------- */


.studrow{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(78, 23, 23);
    color: white;
    margin-top: 6rem;
    text-align: center;
}

.studcol{
    cursor: pointer;
    padding: 1.5rem 1rem;
}

.studcol:hover{
    color: orangered;
}


/* -----------------------------Summary--------------------------- */

.summrow{
    display: flex;
    justify-content: space-around;
    background:rgb(71, 63, 63);
    color: white;
    
}

.summcol h3{
    padding: 1.5rem 0.9rem;
}

.summcol{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.summcol a{
    text-decoration: none;
    color: white;
    padding: 0.5rem 0.9rem;
}

.summcol a:hover{
    color: orangered;
    
}

@media(max-width: 780px){
    .summrow{
        flex-direction: column;
        font-size: 70%;
    }
}


/* ----------------------------------footer---------------------------------- */

.footcol1{
    text-align: center;
}

.footcol1 h3{
    padding: 1.1rem 1rem;
    font-size: 1.5rem;
}

.footcol1 i{
    padding: 0rem 0.4rem;
    cursor: pointer;
}

.address{
    text-align: center;
    padding: 1rem 1rem;
}



/* -------------------About Us------------------------- */

.sub-header{
    background: linear-gradient(rgba(31, 30, 28, 0.5),rgba(37, 37, 34, 0.5)),url('../University Design/images/Chandigarh-campus.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    height: 50vh;
    width: 100vw;
}

.sub-header h1{
   font-size: 2rem;
   margin-top: 5rem;
}

.fact-row{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgba(83, 78, 79, 0.5),rgba(46, 37, 35, 0.5));  
}

.fact-row h2{
    font-size: 2rem;
    background-color: orangered;
    color:white;
    padding-top: 20px;
}

.fact-row h3{
    font-size: 1.5rem;
}

.fact-col{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
}

@media(max-width: 780px){
    .fact-row{
        flex-direction: column;
    }
}

.overview h1{
    text-align: center;
    margin-top: 4rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
}

.overview p{
    margin-left: 8px;
}

.awards{
    text-align: center;
}

.awards h1{
    margin-top: 4rem;
    padding-bottom: 1.5rem;
}

.awards p{
    font-size: 1rem;
    padding: 1rem 1rem;
}
.awards h3{
    margin-top: 4rem;
    padding-bottom: 2rem; 
}

.awa-col{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.awa-col a{
    text-decoration: none;
    color: black;
    padding: 1rem 1rem;
}

.awa-col a h4{
  font-size: 1rem;
}

.awa-row{
    background:linear-gradient(rgba(83, 78, 79, 0.5),rgba(46, 37, 35, 0.5));
}

.awa-col a:hover{
    color: orangered;
}


/* -------------------Admissions--------------------------------------- */

.admi-header{
    background: linear-gradient(rgba(32, 26, 53, 0.5),rgba(45, 39, 68, 0.5)),url('../University Design/images/subheader1.jpg');
    background-position: center;
    background-size: cover;
   
    height: 70vh;
    width: 100vw;

    text-align: center;
    color: white;
}

.admi-header h1{
    font-size: 2rem;
    margin-top: 5rem;
   
}



.dates-row{
    display: flex;
    justify-content: space-between;
    color: white;
}

.dates-col{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background: linear-gradient(rgba(83, 78, 79, 0.5),rgba(46, 37, 35, 0.5));
    
}

.dates-col span {
    padding: 2rem 1rem;
}
.dates-col h2 {
    padding: 2rem 1rem;
}



.dates-col h2{
    background-color: orangered;
}

.dates h1{
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

@media(max-width: 780px){
    .dates-row{
        flex-direction: column;
        font-size: 70%;
        
    }
}




.onorow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-basis: 40%; */
    text-align: center;
    margin-top: 3rem
    
}

.oncol{
    text-align: center;
    background-color: rgb(226, 202, 202);
    
    padding-bottom: 1rem;
    margin: 1rem 1rem;
    
}

.oncol p{
    margin-bottom: 1rem;
}

@media(max-width: 780px){
    .onorow{
        flex-direction: column;
        font-size: 80%;
        
    }
}

.impLinks h1{
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
    background-color: orangered;
    color: white;;
}

.imp-Links{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(rgba(83, 78, 79, 0.5),rgba(46, 37, 35, 0.5));
}

.imp-Links ul li{
    list-style: none;
    padding: 1rem 1rem;
}

.imp-Links ul li a{
    text-decoration: none;
    text-align: left;
    color: black;
   
}

.imp-Links ul li a:hover{
    color: orangered;
}












/* --------------------------academics------------------------------------ */

.acaheader{
    background: linear-gradient(rgba(58, 36, 141, 0.5),rgba(172, 199, 128, 0.5)),url('../University Design/images/academics1.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
    width: 100vw;

    text-align: center;
    color: white;
}

.acaheader h1{
margin-top: 2rem;
font-size: 3rem;
}

.coursesIn{
    text-align: center;
}

.coursesIn h1{
    font-size: 2rem;
    margin: 2rem 0rem;
}

.cors-col ul li{
    list-style: none;
    padding: 0.6rem 0.6rem;
}
.cors-col ul li a{
    text-decoration: none;
    color: black;
}

.cors-col ul li a:hover{
    color: orangered;
}

.cors-row1{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    /* margin-bottom: 2rem; */
}

.cors-row2{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    /* margin-bottom: 4rem; */
}

.cors-row3{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    /* margin-bottom: 2rem; */
}
.cors-col{
    margin-bottom: 2rem;
    width: 500px;
    background-color: rgb(226, 202, 202);
    border-radius: 10px;
    
}

.cors-col h2{
    background-color: rgb(121, 107, 107);
    padding: 0.6rem 0.6rem;
    border-radius: 10px;
}



@media(max-width: 780px){
    .cors-row1{
        flex-direction: column;
    }
    .cors-row2{
        flex-direction: column;
    }
    .cors-row3{
        flex-direction: column;
    }
}





/* ----------------------------------placements------------------------------ */

.plac-over{
    text-align: center;
}
.plac-over h1{
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
}

.plac-over p{
    text-align: left;
    margin: 0.5rem 1rem;
}

.placeheader{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(64, 81, 150, 0.7)),url('../University Design/images/placements.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;

}

.placeheader h1{
    margin-top: 2rem;
    font-size: 3rem;
    }


.place-stats h1{
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
}

    .place-cont {
        background-color: rgb(192, 192, 192);
        width: 80%;
        border-radius: 15px;
    }
  
    .stats {
        background-color: rgb(116, 194, 92);
        color: white;
        padding: 1%;
        text-align: right;
        font-size: 20px;
        border-radius: 15px;
        margin-bottom: 1rem;
    }
    
 .year21{
     background-color: rgb(7, 9, 88);
     width: 95%;
     
    }

    .year20{
        background-color: rgb(58, 37, 116);
        width: 90%;
       }
 
       .year19{
        background-color: rgb(7, 83, 83);
        width: 85%;
       } 

       .year18{
        background-color: rgb(49, 95, 11);
        width: 82%;
       } 

.place-histo{
    margin: 1rem 1rem;
}

.place-stats h3{
    align-items: center;
    text-align: center;
    padding-top: 6px;
}

.stats-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4rem;
}

.stats-col{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    background-color: rgb(226, 202, 202);
}

.stats-col span{
    padding: 2rem 1rem;
    font-size: 1rem;
    font-weight: 600;
}
.stats-col h2{
    padding: 2rem 1rem;
    font-size: 2rem;
    background-color: rgb(121, 107, 107);
}

.stats-row-cont h1{
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem
}


@media(max-width: 780px){
    .stats-row{
        font-size: 70%;
    }
}



       





